draft-ietf-ippm-ioam-data-09 WGLC #2: Guidelines for expert reviewer

[Martin Duke]  Sec 7.8
RFC 8126 says you are supposed to provide guidelines for the expert reviewer.


https://tools.ietf.org/html/rfc8126#section-4.5 
  The required documentation and review criteria, giving clear guidance
   to the designated expert, should be provided when defining the
   registry.  It is particularly important to lay out what should be
   considered when performing an evaluation and reasons for rejecting a
   request.  It is also a good idea to include, when possible, a sense
 of whether many registrations are expected over time, or if the
   registry is expected to be updated infrequently or in exceptional
   circumstances only.

   Thorough understanding of Section 5 is important when deciding on an
   Expert Review policy and designing the guidance to the designated
   expert.

   Good examples of guidance to designated experts:

      Extensible Authentication Protocol (EAP) [RFC3748], Sections 6 and
      7.2
      North-Bound Distribution of Link-State and TE Information Using
      BGP [RFC7752], Section 5.1

Resolved