NSH IOAM -- Several Minor and Editorials, One Major

In ietf103-sfc-ioam-pot_v1.pptx there are several updates on IOAM-NSH that were called out and need fixing.

* Need to remove the References to RFC2784 RFC3232
* Add a citation to RFC7665.
* Fixed all idnits
* Multiple editorials / grammar
* Added RFC 8174
* Major: Fixed the NSH Header according to RFC 8300


Fixed on commit fa84475fdba8ef09ed93e449166bd39d1505e6d9