draft-ietf-ippm-ioam-data-12: Add a deadline to section 8.7

Hi Amanda,

we can add a deadline to section 8.7 per your suggestion. What are the experiences with a 2 week deadline: From past experience in open source I found that at times (especially around times of school holidays), 2 weeks might be a bit aggressive. Would e.g. be 3 or 4 weeks be workable as well?

Thanks, Frank

> -----Original Message-----
> From: Amanda Baber via RT <drafts-eval@iana.org>
> Sent: Dienstag, 16. März 2021 23:06
> Subject: [IANA #1189674] Ballot issued: 
> <draft-ietf-ippm-ioam-data-12.txt> to Proposed Standard
> 
> Dear Authors/Chairs/ADs,
> 
> We have a question about the expert review/mailing list process 
> described in Section 8.7.
> 
> Would it be appropriate to set a deadline (for example, two or three 
> or four
> weeks) for the review? We often see this done in RFCs that create 
> mailing lists for review (Section 10.1 of RFC 7519, Section 17 of RFC 8447).
> 
> I should add that our understanding is that if there is a conversation 
> in progress after X number of weeks, unless the document says 
> otherwise, the deadline can be informally extended.
> 
> I ask because per the IESG, IANA sets two-week review deadlines by default.
> They aren't enforced in any way, and the reviewer can always just let 
> us know that they need more time, but if that's not an appropriate 
> deadline to set for this in the first place, the document should add more time.
> 
> Thanks,
> 
> Amanda Baber
> Lead IANA Services Specialist


fixed in -14.