draft-ietf-sfc-proof-of-transit IESG review: yang review

   There is quite a lot wrong with this I-D from the YANG point of view.  I 
    am surprised that it passes YANG validation, as the data tracker 
    reports, but that is validation for you!  Most of these comments derive 
    from YANG Guidelines RFC8407. 
 
    Tree diagram is now standardised as RFC8340 and is not normally regarded 
    as CODE 
 
    YANG version 1 was replaced in 2016 
 
    Prefix ietf-pot-profile is cumbersome - 3-5 characters is more than 
    enough for a prefix 
 
    Contact needs Editors 
 
    Copyright 2018 (feels about right:-) 
 
    Revision reference must reference this I-D/RFC2be 
 
    A grouping that is only used once increases size and complexity for no 
    benefit but in this case pot-profile is imported by IPPM; worth a 
    mention somewhere. 
 
    List identifiers are conventionally plural. 
 
    IANA considerations are mandatory - if the module is not registered with 
    IANA there is no module 
 
    Security Considerations for YANG are mandatory - YANG Guidelines points 
    to the current text albeit trivial compared with those for POT:-). 
 
    These two Considerations will pull in another half a dozen Mandatory 
    references. 
 
    Key Words is ood - see RFC8174 
 
    When MTU is Maxiumum Transmission Unit, then it is a recognised 
    abbreviation and does not need expanding. 
 
    HMAC is Hashed ...in the RFC Editor list 
 
    Abstract/Introduction should mention that there is a YANG module, that 
    it conforms to NMDA and reference RFC7950.  IANA Considerations on the 
    other hand should reference RFC6020. 
 
    IPPM import this module so I copy that list. 
 
-  Tom Petch 
