draft-ietf-sfc-proof-of-transit: WGLC comments

https://mailarchive.ietf.org/arch/msg/sfc/JNfzqb3rswGyqm3a51iVsZblmpg/

- Abstract,  Add a sentence about the presence of a Yang model in this I-D
- Section 1, Add a reference when the Shamir's Secret Sharing on first use
Also you have it as a normative reference to a wiki page -

[SSS]      "Shamir's Secret Sharing",
              <https://en.wikipedia.org/wiki/Shamir%27s_Secret_Sharing>.

Isn't there a better reference for this which is archival in nature
and cant be modified easily?

- Section 2, Use the updated boilerplate for capitalized keywords -

      The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL
      NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED",
      "MAY", and "OPTIONAL" in this document are to be interpreted as
      described in BCP 14 [RFC2119] [RFC8174] when, and only when, they
      appear in all capitals, as shown here.

- Section 5, You include -

   This document does not
   define a specific protocol to be used between Controller and nodes.
   It only defines the procedures and the associated YANG data model.

That is true for all documents with yang models, any reason to be
explicit about it?

- Section 5.2.2, You should include this -

   A simplified graphical representation of the data model is used in
   this document.  The meaning of the symbols in these diagrams is
   defined in [RFC8340].

instead of repeating the tree notations.

- Section 5.2.3,
    o  Update the dates in the Yang model as well the year in the copyright
    o  Query: Should nacm be used in the Yang model for the secret leaves?

- Section 6
   o  Don't we need to update the IANA consideration for the Yang model?

- Section 7.8
   o  Needs to be enhancecd to also include yang related security as
per https://trac.ietf.org/trac/ops/wiki/yang-security-guidelines

Thanks!
Dhruv
